-#  This file is app/views/admin/index.html.haml

-if current_user.rank == "admin"
  %div#main
    .mainContentBox
      

      .mainContentBoxHeader Home Page
     


      %div.clear
      %div{:id => "footer"}
