%h2 All Users

%p
  =link_to "Create New Accounts", "identities/new"


  
  / = link_to 'Refresh', identities_path(:user_types => @selected_users)

- @users.each do |user|
  %p
    %table{:class => "appt"}
      %tr
        %td{:width => "60%"}
          %p
            Name: #{user.name} <br/>
            Email: #{user.email} <br/> 
        %td{:width => "40%"}
          %p 
          =button_to "Delete", "/users/#{user.uid}", :method => :delete, :confirm => 'Are you sure?'

= will_paginate @users
